<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="NopCommerce Automation Testing" verbose="1">
    <test name="Run on Chrome browser">
        <classes>
            <class name="com.nopcommerce.users.Level_01_Repeat_Yourself"/>
            <class name="com.nopcommerce.users.Level_02_BasePage_I_Initial"/>
            <class name="com.nopcommerce.users.Level_02_BasePage_II_StaticMethod"/>
            <class name="com.nopcommerce.users.Level_02_BasePage_III_Inheritance"/>
        </classes>
    </test>
</suite>